html {
  overflow: visible;
  height: auto;
  scroll-behavior: smooth;

  @media ( max-width: $max_md ) {
    margin-top: 0!important;
  }
}

@media ( max-width: $max_md ) {
  #wpadminbar {
    display: none!important;
  }
}

body {
  max-height: none;
  min-height: auto;
  overflow: auto;
  display: block;
  min-width: auto!important;
  @media ( max-width: $max_md ) {
    font-size: 15px;
  }
}



.hide-md {
  @media ( max-width: $min_md ) {
    display: none!important;
  }
}



.display-md {
  @media ( min-width: $max_md ) {
    display: none!important;
  }
}




.services-page {
  @media ( max-width: $max_md ) {
    padding-bottom: 40px;
  }
}





.svg-fill, .svg-stroke {
  transition: .2s;
}



.bg__cover {
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.site-wrap {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > * {
    width: 100%;
  }
}


body.compensate-for-scrollbar {
  overflow: hidden!important;
}


.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}


.footer {
  margin-top: auto;
}

.header.in-scroll > * {
  background-color: #fff;
}

.mobile__header__wrapper .logo__img {
  @media ( max-width: $max_md ) {
    height: 27px;
  }
}

 
body::-webkit-scrollbar {
  width: 10px;
}

body.show-scrollbar::-webkit-scrollbar {
  display: block;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #fd281e;
  outline: 1px solid slategrey;
}




.btn, a.btn, button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: .2s;
  padding: 15px;
  min-height: 60px;
  background-color: transparent;
  border: none;
}

.btn-wrap {
  display: flex;
}

.btn.btn-border-fff {
  border: 1px solid #fff;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}


.btn.blue-btn {
  background-color: rgba(0, 102, 255, 0.03);
  color: #0066FF;
  &:hover {
    background-color: #0066FF;
    color: #fff;
  }
}

.min-220 {
  min-width: 220px;
}

.btn-row {
  display: flex;
}


.section-title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  line-height: 1.3;
  @media ( max-width: $max_md ) {
    font-size: 32px;
  }
  @media ( max-width: $max_sm ) {
    font-size: 24px;
  }
}

.like-row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.content-anchor {
  font-size: 0!important;
  opacity: 0!important;
  user-select: none!important;
  pointer-events: none!important;
  height: 1px;
  overflow: hidden;
  position: relative;
  top: -140px;
}


.hov-opacity {
  transition: .15s;
}
.hov-opacity:hover {
  opacity: .6;
}
.dashed-underline {
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  &:after {
    content : '';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px dashed rgba(0, 102, 255, 0.5);
  }
}


.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  height: 2px;
}

.hamburger-inner::before {
  top: -8px;
}
.hamburger-inner::after {
  bottom: -8px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
}
.hamburger-box {
  width: 30px;
  height: 22px;
}
.mobile__header .hamburger {
  display: flex;
  align-items: center;
}




.fancybox-close {
  background-image: url('../assets/images/close.svg');
  background-size: 20px auto;
  background-position: center;
  background-repeat: no-repeat;
}


.portfolio__page, .services-page, .blog-page, .contact-page, .about-page {
  padding-top: 160px;
  @media ( max-width: $max_md ) {
    padding-top: 100px;
  }
}


.display-sm {
  @media ( min-width: $min_sm ) {
    display: none!important;
  }
}


.portfolio-inner {
  .head__bg {
    max-height: 400px;
  }
}


.websites-page .websites-head__images.steps-images-wrap {
  .steps-image, img {
    width: 100%;
    max-width: 378px;
  }
  @media ( max-width: $max_md ) {
    img {
      height: auto;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media ( max-width: $max_xs ) {
    img {
      max-width: 100%;
    }
  }

}
.websites-head__right {
  @media ( max-width: $max_md ) {
    max-width: none;
  }
}



.websites-head__images {
  @media ( max-width: $max_md ) {
    margin: -20px;
    margin-top: 0;
  }
  .websites-head__img {
    padding: 20px;
    padding-top: 0;
  }
}

.navigation .language {
  display: none!important;
}
.mobile__header .language {
  display: none!important;
}

.about-page {
  padding-bottom: 30px;
}


.websites-page .advantages_section .advantages__wrapper {
  margin-top: 0;
}



.service-midle-price {
  display: none!important;
}



#about_top a[href="#how-to-work__block"] {
  display: none!important;
}









.tech-hidden-head {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .like__h3 {
    margin: 0;
  }
}

.tech__item .tech__images img {
  margin-right: 15px;
}



/*==============================================================
*												FONTS 
=============================================================== */
.fw-bold {
  font-weight: bold;
}
.c-gray {
  color: rgba(0,0,0,.5);
}
.c-blue {
  color: #0066FF
}
.fs-20 {
  font-size: 20px;
}
.fs-30 {
  font-size: 30px;
  @media ( max-width: $max_md ) {
    font-size: 24px;
  }
  @media ( max-width: $max_sm ) {
    font-size: 16px;
  }
}


/*==============================================================
*												EDITOR CONTENT
=============================================================== */
.editor-content {
  line-height: 1.5;
  table {
    border-collapse: collapse!important;
    width: 100%!important;
    border: none!important;
  }
  td {
    border: none;
    padding: 20px 10px!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
  }
  tr:first-child td {
    border-top: 1px solid rgba(0, 0, 0, 0.1)!important;
  }
  td:first-child {
    padding-left: 0!important;
  }
  td:last-child {
    padding-right: 0!important;
  }

  h1,h2, h3,h4,h5, h6, p {
    margin: 0;
  }

  h3,h4,h5,h6 {
    font-size: 20px;
    margin-bottom: 20px;
    @media ( max-width: $max_md ) {
      font-size: 16px;
      margin-bottom: 16px;
    }
    @media ( max-width: $max_sm ) {
      font-size: 14px;
      margin-bottom: 12px;
    }
  }

  h1,h2 {
    font-size: 30px;
    margin-bottom: 30px;
    @media ( max-width: $max_md ) {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  p {
    margin-top: 20px;
    @media ( max-width: $max_md ) {
      margin-top: 16px;
    }
    @media ( max-width: $max_sm ) {
      margin-top: 12px;
    }
  }

  .empty-p {
    margin: 0;
    height: 20px;
    & + p {
      margin-top: 0;
    }
    @media ( max-width: $max_sm ) {
      height: 16px;
    }
    @media ( max-width: $max_xs ) {
      height: 12px;
    }
  }

  blockquote {
    text-align: center;
    margin-bottom: 0;
    padding: 30px;
    font-size :30px;
    font-weight: bold;
    background-color: rgba(0, 102, 255, 0.05);
    & > * {
      margin: 0!important;
      padding: 0!important;
    }
    @media ( max-width: $max_md ) {
      font-size: 24px;
    }
    @media ( max-width: $max_sm ) {
      font-size: 18px;
      padding: 15px;
    }
    @media ( max-width: $max_xs ) {
      font-size: 14px;
      text-align: left;
      padding: 0;
      background-color: transparent;
    }
  }
  img {
    margin: 0;
    max-width: 100%;
  }
  .full-image {
    max-width: none;
    width: 100%!important;
    height: auto!important;
  }

.table_wrap {
  overflow: visible!important;
}

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      
      &:before {
        content : '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background-size: 10px 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: URL('../assets/images/red-rect.svg');
        margin-right: 15px;
        margin-bottom: 0.1em;
        @media ( max-width: $max_md ) {
          padding-right: 10px;
        }
        @media ( max-width: $max_sm ) {
          padding-right: 5px;
        }
      }
    }
  }
  
  li:not(:last-child) {
    margin-bottom: 30px;
    @media ( max-width: $max_md ) {
      margin-bottom: 20px;
    }
    @media ( max-width: $max_sm ) {
      margin-bottom: 15px;
    }
  }


  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ol li {
    counter-increment: my-awesome-counter;
    position: relative;
  }
  ol li::before {
    content: counter(my-awesome-counter)".";
    display: inline-block;
    font-weight: bold;
    padding-right: 15px;
    color: #FD281E;
    @media ( max-width: $max_md ) {
      padding-right: 10px;
    }
    @media ( max-width: $max_sm ) {
      padding-right: 5px;
    }
  }

}


@media ( max-width: $max_sm ) {
  .h1, .like__h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}



/*==============================================================
*												SUMMARY STYLES
=============================================================== */
.summary-list {
  .lwptoc {
    margin: 0!important;
    padding: 0!important;
  }
  .lwptoc-light .lwptoc_i {
    background-color: transparent;
  }
  .lwptoc_title {
    @extend .fs-30;
    font-weight: bold;
  }
  .lwptoc_header {
    margin-bottom: 30px;
  }

  a {
    color:#0066FF;
    @extend .dashed-underline;
    margin-bottom: 20px;
    transition: .2s;
    &:hover {
      opacity: .6;
    }
  }
  .lwptoc_item {
    margin-top: 0;
  }
  .lwptoc-notInherit .lwptoc_i DIV A:hover {
    border: none!important;
  }
}





/*==============================================================
*												FORMS
=============================================================== */

.wpcf7-form-control-wrap {
  display: block;
}

.input-row {
  display: flex;
}

.file-iunput-wrap {
  position: relative;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  .wpcf7-form-control-wrap {
    display: none!important;
  }
  .label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #0066FF;
    font-weight: bold;
    transition: .2s;
    &:hover {
      opacity: .6;
    }
    line-height: 1.2;
  }
  .clear-file-input {
    display: none;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-image: url('../assets/images/close-red.svg');
    cursor: pointer;
    transition: .2s;
    margin-left: 15px;
    position: relative;
    top: 2px;
    &:hover {
      opacity: .2;
    }
    &.active {
      transform: scale(1.2);
    }
  }

  &.has-files {
    .clear-file-input {
      display: block;
    }
  }
}



.btn-submit {
  border: none;
  background-color: transparent;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba( #0066FF, 10%);
  transition: .2s;
  &:hover {
    border-bottom-color: #0066FF;
  }
}




.wpcf7-not-valid-tip {
  z-index: 2;
  position: absolute;
  top: 100%;
  display: block;
  font-size: 15px;
  padding-top: 5px;
  color: #FD0037;
}
input[type=checkbox] {
  width: auto;
}




.grecaptcha-badge {
  display: none!important;
}


span.wpcf7-list-item {
  margin: 0;
}



.custom-checkbox {
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
  .wpcf7-form-control {
    position: relative;
    overflow: hidden;
  }
  input {
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: 1px;
    height: 1px;
    border: none;
    background-color: transparent;
  }
  .checkbox-item {
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid #E6E6E6;
    position: relative;
    &:after {
      content : '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../assets/images/check-blue.svg');
      transition: .1s;
      opacity: 0;
      background-position: center center;
      background-size: 16px auto;
      background-repeat: no-repeat;
    }
  }
  input:checked ~ .checkbox-item:after {
    opacity: 1;
  }
}




input.has-error {
  border-bottom-color: #FD0037;
}



input {
  margin: 0;
  font-size: 20px;
  padding: 20px 0;
  width: 100%;
  line-height: 1.3;
  background-color: transparent;
}


.iti {
  width: 100%;
}
.wpcf7-form-control-wrap {
  display: block;
  margin-bottom: 40px;
}
.input-row {
  margin-bottom: 60px;
}
.accept-terms {
  margin: 0;
}


.wpcf7-mail-sent-ok {
  display: none!important;
}
.success-mail-send {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none!important;
  margin: 0!important;
  transition: 0!important;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.3;

  .text {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
}





.js-hidden-phone {
  .text {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    // &:after {
    //   content : '';
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   height: 100%;
    //   width: 13px;
    //   background: linear-gradient(to left, rgba(0, 102, 255, 0.03), transparent);
    // }
  }
  &:not(.active) {
    &:hover {
      background-color: rgba(0, 102, 255, 0.03);
      color: #0066FF;
    }
    .hidden-char ~ * {
      display: none;
    }
    .hidden-char {
      -webkit-mask-image: -webkit-gradient(linear, left center, right center, 
      from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }
  }
  &.active {
    .show-ico {
      display: none;
    }
  }
}



@media ( max-width: $max_sm ) {
  input {
    padding: 12px 0;
    font-size: 14px;
  }
  .wpcf7-form-control-wrap {
    margin-bottom: 24px;
  }
  .input-row {
    margin-bottom: 36px;
  }
  .wpcf7-not-valid-tip {
    padding-top: 0;
    font-size: 12px;
  }
  .btn-submit {
    font-size: 24px;
  }
}