/*==============================================================
*											  	BREAKPOINTS
=============================================================== */

$max_xs: 479.9px;
$min_xs: 480px;

$max_sm: 767.9px;
$min_sm: 768px;

$max_md: 991.9px;
$min_md: 992px;

$max_ml: 1199.9px;
$min_ml: 1200px;

$max_lg: 1536.9px;
$min_lg: 1537px;

$max_xl: 1920.9px;
$min_xl: 1921px;
